<!doctype html>
<html>


<head>
    <title>Search Engine</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class = 'searchbar'>
        <form action='#' method='post' class='form'>
            <h1 class='title'>Search Engine</h1>
            <input type='text' name='search' placeholder='Query' class='bar'></type>
            <div style="display:flex">
                <input type='submit' value='Search' class='button'></input>
            </div>
        </form>
    </div>
</body>


</html>
